.vision-cards {
    display: flex;
    align-items: stretch;
    justify-content: center;
    gap: 2.188vw;
    position: relative;
    z-index: 4;
    width: 100%;
    max-width: 62.5vw;
    margin: 2.25vw auto 0;
}
